<%@teams.each do |w|%>

    <p style="margin: 10px; text-align: center;  "> <%= w.name %> </p> <br>
    <%= link_to "Usuń", {id: w.id , action: 'usunt'}, data:{confirm: 'jestes pewien?'}  %>




<%end%>